black
esper
pytest
ipykernel
python-dateutil
joblib
scikit-learn
tensorflow
scikeras
PythonMETAR
cartopy
requests
opencv-python
seaborn
matplotlib
pandas
numpy
imblearn
tqdm
IPython
python-dateutil
scipy
pymoo
tabulate
scikit_posthocs
regex
myst_parser
pingouin
optuna
gower
xgboost
watermark
holidays
shap
PDPbox
GDAL

